/* @import '~antd/dist/antd.css'; */

.ant-card-meta-title {
  font-size: 12px;
}

.ant-card-meta-description,
.ant-card-extra {
  font-size: 10px;
}

.card-row {
  margin: 0 !important;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

.slick-card-body .ant-card-meta-title {
  font-size: 16px;
  color: #fff;
  font-weight: bold;
}

.slick-card-body .ant-card-meta-description {
  font-size: 12px;
  color: #fff;
}

.LoadIcon {
  font-size: 50px;
  text-align: center;
  color: brown;
}